/* #insert-event-modal
{
    position: absolute;
    display: flex;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-content: center;

    top: 0;
    left: 0;

    z-index: 20;
} */

#event-registration-modal
{
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    justify-self: center;
    align-self: center;

    top: calc(50% - 280px);
    left: calc(50% - 280px);

    width: 500px;
    max-width: 500px;
}
