#event-edit-modal
{
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    justify-self: center;
    align-self: center;

    top: calc(50% - 280px);
    left: calc(50% - 280px);

    width: 500px;
    max-width: 500px;

    height: 497px;
    max-height: 497px;
}
