.modal
{
    display: block;

    width: 0px;

    padding: 30px;
    border-radius: 20px;

    background-color: #F6F6F6;

    z-index: 100;
}

.modal h1
{
    font-family: Calibri;
    font-size: 25px;
    text-align: center;

    margin-bottom: 15px;
}

.modal-content
{
    width: 100%;
}

.modal-content form
{
    width: 100%;
    justify-content: space-between;
}

.modal-full-container
{
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: center;

    margin-bottom: 10px;
}

.modal-half-container
{
    display: flex;
    flex-direction: column;
    width: calc(50% - 5px);

    justify-self: auto;

    margin-bottom: 10px;
}

.modal input[type="text"],
.modal input[type="time"],
.modal input[type="date"],
.modal select,
.modal textarea
{
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    background-color: #F9F9F9;
    /* box-shadow: 1px 1px 1px #D1D1D1; */
}

.modal textarea
{
    resize: none;
}

.modal label,
.modal span.label
{
    font-family: "Helvetica";
    font-size: 15px;
}

.modal input[type="checkbox"]
{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.modal input[type=submit],
button
{
    padding: 7px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;

    font-weight: bold;

    background-color: #4F6AF9;
    color: white;
}

.modal input[type=submit]:hover
{
    background-color: #2C4AE9;
}

.form-error
{
    display: inline-block;

    color: #FA5757;
    width: auto;
    height: 1em;
    font-size: 14px;
    font-family: Calibri;
}

.information
{
    font-family: "Calibri";
    font-size: 15px;

    color: #606060;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.row
{
    flex-direction: row;
    justify-content: left;
}
