*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    min-height: 100vh;
    background-color: #E6E6E6;
    overflow: hidden;
}

#page-locker
{
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 90;
    background-color: rgba(0, 0, 0, 0.6);
}
